<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.thomasvds.nurture</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>03070A2A-6654-4ECD-A63B-C30A063675AB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3FB49851-FAAF-440C-AADA-80D7C84B2DF9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0F2E26DD-19DE-4A32-9732-90D56E347F4B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03070A2A-6654-4ECD-A63B-C30A063675AB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>15E60C19-D4BB-43AB-A58D-38F0A1488DB8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A92FD9FB-0CD5-458D-A6B1-D27E6C3234F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>332A8902-E59F-483C-8262-A483C8EB9884</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B1BA0542-5F8A-46A8-9071-F2637D31AD9A</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Reveal person data</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>15E60C19-D4BB-43AB-A58D-38F0A1488DB8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>36230B6D-6755-4C2B-A635-29F17BD5B27C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9AC90C6-D088-40C3-A4A9-FE3D578293D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3FB49851-FAAF-440C-AADA-80D7C84B2DF9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A4B10DD0-4717-48AF-9399-FF4FD2348CBD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>778CEAF7-850B-400A-9002-8676C4CB5921</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9D7A439-B9E1-434E-A42D-BD17330D2290</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8795EF73-1537-43FB-BE2E-2A1123857919</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F2E26DD-19DE-4A32-9732-90D56E347F4B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A4B10DD0-4717-48AF-9399-FF4FD2348CBD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D4FF294-05E8-4360-A75D-BED895D4FCBE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A92FD9FB-0CD5-458D-A6B1-D27E6C3234F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>778CEAF7-850B-400A-9002-8676C4CB5921</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Save log and add date to it</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>36230B6D-6755-4C2B-A635-29F17BD5B27C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B9AC90C6-D088-40C3-A4A9-FE3D578293D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF0DAE08-9FBE-48F2-B505-95624018165D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C6B17F79-8646-4B73-8CC5-4B1C23E06D56</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9AC90C6-D088-40C3-A4A9-FE3D578293D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E9D7A439-B9E1-434E-A42D-BD17330D2290</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C6B17F79-8646-4B73-8CC5-4B1C23E06D56</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Thomas Vanderstraeten</string>
	<key>description</key>
	<string>A personal CRM for introverts</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Nurture</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:NURTURE_HOST}/people/{query}?token={var:NURTURE_API_TOKEN}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B1BA0542-5F8A-46A8-9071-F2637D31AD9A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ndate</string>
				<key>subtext</key>
				<string>Setup date of that log</string>
				<key>text</key>
				<string>Date</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E9D7A439-B9E1-434E-A42D-BD17330D2290</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>DATE</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C6B17F79-8646-4B73-8CC5-4B1C23E06D56</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>CONTENT</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>778CEAF7-850B-400A-9002-8676C4CB5921</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>nurture</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching people</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Nurture a human</string>
				<key>title</key>
				<string>Nurture a human</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>332A8902-E59F-483C-8262-A483C8EB9884</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>get_data()
{
  cat &lt;&lt;EOF
{
  "personId": "$PERSON_ID",
  "content": "$CONTENT",
  "date": "$DATE"
}
EOF
}

curl -X POST ${NURTURE_HOST}/entries -i \
--header "Authorization: token ${NURTURE_API_TOKEN}" \
--header "Content-Type: application/json" \
--data "$(get_data)"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B9AC90C6-D088-40C3-A4A9-FE3D578293D2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>nlog</string>
				<key>subtext</key>
				<string>Log a Nurture entry about that person</string>
				<key>text</key>
				<string>Log</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A92FD9FB-0CD5-458D-A6B1-D27E6C3234F5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Keep up with the good work.</string>
				<key>title</key>
				<string>Nurture entry saved</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>EF0DAE08-9FBE-48F2-B505-95624018165D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>PERSON_ID</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>15E60C19-D4BB-43AB-A58D-38F0A1488DB8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>CONTENT</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>36230B6D-6755-4C2B-A635-29F17BD5B27C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>lastname</string>
				<key>subtext</key>
				<string>Type in last name</string>
				<key>text</key>
				<string>Last name</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>03070A2A-6654-4ECD-A63B-C30A063675AB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>get_data()
{
  cat &lt;&lt;EOF
{
  "firstName": "$FIRST_NAME",
  "lastName": "$LAST_NAME"
}
EOF
}

curl -X POST ${NURTURE_HOST}/people -i \
--header "Authorization: token ${NURTURE_API_TOKEN}" \
--header "Content-Type: application/json" \
--data "$(get_data)"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A4B10DD0-4717-48AF-9399-FF4FD2348CBD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>nadd</string>
				<key>subtext</key>
				<string>Type in first name</string>
				<key>text</key>
				<string>Create a new person in Nurture</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8795EF73-1537-43FB-BE2E-2A1123857919</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Let's start nurturing that person!</string>
				<key>title</key>
				<string>Person saved in Nurture</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8D4FF294-05E8-4360-A75D-BED895D4FCBE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>LAST_NAME</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3FB49851-FAAF-440C-AADA-80D7C84B2DF9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>FIRST_NAME</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0F2E26DD-19DE-4A32-9732-90D56E347F4B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>03070A2A-6654-4ECD-A63B-C30A063675AB</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>0F2E26DD-19DE-4A32-9732-90D56E347F4B</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>15E60C19-D4BB-43AB-A58D-38F0A1488DB8</key>
		<dict>
			<key>xpos</key>
			<integer>505</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>332A8902-E59F-483C-8262-A483C8EB9884</key>
		<dict>
			<key>xpos</key>
			<integer>315</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>36230B6D-6755-4C2B-A635-29F17BD5B27C</key>
		<dict>
			<key>xpos</key>
			<integer>850</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>3FB49851-FAAF-440C-AADA-80D7C84B2DF9</key>
		<dict>
			<key>xpos</key>
			<integer>850</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>778CEAF7-850B-400A-9002-8676C4CB5921</key>
		<dict>
			<key>xpos</key>
			<integer>745</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
		<key>8795EF73-1537-43FB-BE2E-2A1123857919</key>
		<dict>
			<key>xpos</key>
			<integer>315</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>8D4FF294-05E8-4360-A75D-BED895D4FCBE</key>
		<dict>
			<key>xpos</key>
			<integer>1260</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>A4B10DD0-4717-48AF-9399-FF4FD2348CBD</key>
		<dict>
			<key>xpos</key>
			<integer>1085</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>A92FD9FB-0CD5-458D-A6B1-D27E6C3234F5</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>B1BA0542-5F8A-46A8-9071-F2637D31AD9A</key>
		<dict>
			<key>xpos</key>
			<integer>575</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>B9AC90C6-D088-40C3-A4A9-FE3D578293D2</key>
		<dict>
			<key>xpos</key>
			<integer>1085</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>C6B17F79-8646-4B73-8CC5-4B1C23E06D56</key>
		<dict>
			<key>xpos</key>
			<integer>965</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
		<key>E9D7A439-B9E1-434E-A42D-BD17330D2290</key>
		<dict>
			<key>xpos</key>
			<integer>810</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>EF0DAE08-9FBE-48F2-B505-95624018165D</key>
		<dict>
			<key>xpos</key>
			<integer>1260</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>NURTURE_API_TOKEN</key>
		<string>6128229ad5c6d7cd8ee15602d8345a10a9468db2d95242173c90cd2319cb639f</string>
		<key>NURTURE_HOST</key>
		<string>https://nurture-crm.herokuapp.com</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://www.nurture.sh</string>
</dict>
</plist>
